// -----------------------------------------------------------------------------
// This file contains styles that are specific to the products page.
// -----------------------------------------------------------------------------

main.main-archive-products {
  background: linear-gradient(white, #1b5ea0);
  background-attachment: fixed;

  .products-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    @include media-width('1280') {
      grid-template-columns: 1fr 1fr;
    }

    @include media-width('1080') {
      grid-template-columns: 1fr;
    }
  }

}
