main.single-product {
  padding-bottom: 60px;

  .product-price-section {
    padding: 20px 0;
  }

  .sale-banner {
    h2 {
      text-align: center;
      font-size: 80px;
      color: #ff0f5d;
    }

    @include media-width('1080') {
      h2 {
        font-size: 50px;
      }
    }
  }

  .price {
    text-align: center;
    h3 {
      font-size: 50px;
    }
  }

  .product-gallery-section {
    padding: 50px 0;
    background-color: #bdbdbd80;
  }

  .related-products-section {
    padding: 20px 0;
  }

  .gallery-title {
    text-align: center;
  }

  .description-wrapper {
    margin-top: 40px;
  }

  .video-wrapper {
    margin: 40px 0;
  }

  // Gallery Slider

  .gallery-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    img {
      max-height: 200px;
    }
  }

  .related-products-wrapper {
    display: flex;
    justify-content: space-between;
  }
}
